@using CoreKampi.Controllers
@model Class1

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
    ViewData["Başlik"] = "Çalışan Güncelle";
}

<form class="form-group" action="/EmployeeTest/EditEmployee/" method="post">

    <h1>Personel Güncelleme</h1>

    <input type="hidden" class="form-control" asp-for="Id" />


    <div class="mt-3">
        <label>Adı Soyadı</label>
        <input type="text" class="form-control" placeholder="Ad soyad" asp-for="Name" />

    </div>

    <div class="mt-3">
        <a href="/EmployeeTest/Index/" class="btn btn-danger">İptal</a>
        <input type="submit" class="btn btn-success" value="Güncelle" />

    </div>


</form>