@using CoreKampi.Models
@model List<Class1>

@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
    ViewData["Başlik"] = "Çalışan Listesi";
}

<a href="/EmployeeTest/AddEmployee/" class="btn btn-success">Ekle</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı Soyadı</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 1;}
        @foreach (var i in Model)
        {

            <tr>
                <th scope="row">@a</th>
                <td>@i.Name</td>
                <td>
                    <a href="/EmployeeTest/DeleteEmployee/@i.Id" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/EmployeeTest/EditEmployee/@i.Id" class="btn btn-warning">Güncelle</a>
                </td>
            </tr>

            a++;

        }


    </tbody>
</table>