@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
    ViewData["Başlik"] = "Excel Rapor";
}



<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-success"> Excel Raporunu İndir</a> 





